.Questionnaire {
  display: grid;
  height: 450px;
  grid-template-rows: 100px 1fr 1fr 1fr;
}

.Question {
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}

.Answers {
  grid-row-start: 2;
  grid-row-end: 3;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
}
.Buttons {
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: center;
}

.CurrentQuestion {
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: center;
}
